// Colors

// hsl - hue, saturation and lightness

$StrongCyan: hsl(171, 66%, 44%);

$LightBlue: hsl(233, 100%, 69%);

$DarkGrayishBlue: hsl(210, 10%, 33%);

$GrayishBlue: hsl(201, 11%, 66%);

$FontFamily:'Bai Jamjuree',sans-serif;

// Universal Effects

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $FontFamily;
    overflow-x: hidden;
}

a,a:hover{
    text-decoration: none;
}

header{
    background: url(../images/bg-header-desktop.png);
    background-position: center;

    // If we use background-size: cover; it will cut off the sides of the image, preserving the aspect ratio, and also filling in the space.
    background-size: cover;

    background-repeat: no-repeat;
    padding: 2rem;

    h5{
        font-weight: 400;
        color: $DarkGrayishBlue;
    }

    .logo{
        width: 30px;
    }

    p{
        
        color:$GrayishBlue;
        width: auto;
    }
}

.btn-one {
    background-color: $StrongCyan;
    color: white;
    border-radius: 2rem;

    // transition:Default Property Duration
    // transition-timing-function:ease-in-out:specifies a transition effect with a slow start and end
    transition: all 1s ease-in-out;

    &:hover {
        color: white;

        // box-shadow:<offset-x> <offset-y> <blur-radius> color
        box-shadow: 5px 5px 5px $StrongCyan;
    }
}

.btn-two {
    background-color: $LightBlue;
    color: white;
    border-radius: 2rem;


    // transition:Default Property Duration
    // transition-timing-function:ease-in-out:specifies a transition effect with a slow start and end
    transition: all 1s ease-in-out;

    &:hover {
        color: white;

        // box-shadow:<offset-x> <offset-y> <blur-radius> color
        box-shadow: 5px 5px 5px $LightBlue;
    }
}

.middle-content{
    h4{
        font-weight: 400;
        color: $DarkGrayishBlue;
    }

    .paragraph{
        color: $GrayishBlue;
    }
}

.desktop-section{
    h6{
        color: $DarkGrayishBlue;
    }

    p{
        color: $GrayishBlue;
        font-size: 0.9rem;
    }
}

.laptop-section{
    text-align: center;

    h5{
        color: $DarkGrayishBlue;
    }

    p{
        color: $GrayishBlue;
        font-size: 0.9rem;
    }
}

.super-charge-section{

    h6 {
        color: $DarkGrayishBlue;
    }

    p {
        color: $GrayishBlue;
        font-size: 0.9rem;
    }

}

.clip-board-section{
    h4{
        color: $DarkGrayishBlue;
    }

    p{
        color: $GrayishBlue;
        font-size: 0.9rem;
    }
}

// Media Queries
// On XS Screens
@media only screen and (max-width:600px) {
    body{
        overflow-x: hidden;
    }

    footer{
        background-color:whitesmoke;
        margin-top: 1rem;
        text-align: center;

        a{
            color:$GrayishBlue;
            font-size: 1rem;
            margin-top: 0px;

            &:hover{
                color: whitesmoke;
            }
        }

        .logo{
            img{
                margin-left: 10.2rem;
                margin-top: 1rem;
            }
        }

        .social-media-icons{
            margin: 1rem;
        }
    }

    header{
        background: url(../images/bg-header-mobile.png);
        background-position: center;

        // If we use background-size: cover; it will cut off the sides of the image, preserving the aspect ratio, and also filling in the space.
        background-size: cover;

        background-repeat: no-repeat;
    }

    h5 {
        font-size: 1.4rem;
    }

    p,.paragraph{
        font-size: 0.7rem;
    }

    .logo {
        width: 35px;
    }

    .buttons {

        .btn-one,
        .btn-two {
            width: 310px;
        }
    }

    .desktop-section{
        img{
            width: 300px;
            margin-left: 2rem;
        }

        h6,p{
            text-align: center;
        }
    }

    .company-logo-section {

        .logo {
            img {
                width: 100px;
                margin-left: 9rem;
            }
        }
    }

    .blacklists-section{
        .content{
            .para{
                margin-top: 0;
            }
        }
    }

    .clip-board-section{
        p{
            font-size: 0.8rem;
        }
        .buttons{
            margin-left:1.5rem ;
        }
    }
}

// Media Queries
// On Large Screens
@media only screen and (min-width:992px) {
    .buttons {
        // Convert column into row
        display: flex;

        margin-left:30rem ;

        .btn-one,.btn-two{
            width: 150px;
            margin: 1rem;
        }
    }

    .paragraph{
        font-size: 0.9rem;
    }

    .desktop-section{
        img{
            height: 29vh;
        }
    }

    .blacklists-section{
        .para{
            font-size: 1rem;
        }
    }

    .company-logo-section {
        margin: 1em;

        .logo {
            img {
                width: 100px;
            }
        }
    }

    .clip-board-section{
        .buttons{
            margin-left: 15rem;
        }
    }

    footer {
        padding: 2rem;
        margin-top: 1rem;
        width: 102%;
        height: 120px;
        background-color:whitesmoke;

        .logo {
            img {
                width: 50px;
                margin-top: 1rem;
            }
        }

        a {
            color: $GrayishBlue;
            font-size: 1rem;

            &:hover {
                color: $GrayishBlue;
            }
        }

        .social-media-icons {
            margin-top: 1.5rem;
            margin-left: 5rem;

            a {
                margin: 0.4rem;
            }
        }
    }
}